# CLEANING DATA

In this file, we are going to clean and prepare the dataset obtained from the API.

### Importing some libraries and the csv generated in the Get_Api document.

In [1]:
import pandas as pd
import numpy as np
import re
import seaborn as sns
import matplotlib.pyplot as plt
import src.Cleaning_f as fc

In [2]:
DataApi = pd.read_csv("data/DataApi.csv", index_col=0 ,encoding = "ISO-8859-1")

### Exploring the csv

In [3]:
DataApi.shape

(4014, 20)

In [4]:
DataApi.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin
0,2010-01-01,3260B,TOLEDO,TOLEDO,515,"7,7","0,0","4,8",06:51,"10,6",14:36,28.0,"7,5","21,4",13:19,"4,0","956,8",23,"947,1",00
1,2010-01-02,3260B,TOLEDO,TOLEDO,515,"7,2","0,0","3,9",Varias,"10,6",13:15,29.0,"1,9","4,7",00:28,"1,2","961,0",11,"956,7",00
2,2010-01-03,3260B,TOLEDO,TOLEDO,515,"5,4","6,6","2,1",05:16,"8,7",12:39,13.0,"0,8","6,4",15:29,"2,4","959,0",02,"953,8",24
3,2010-01-04,3260B,TOLEDO,TOLEDO,515,"9,9","4,9","7,4",Varias,"12,4",16:14,19.0,"2,8","6,9",15:42,"0,3","953,8",00,"940,4",24
4,2010-01-05,3260B,TOLEDO,TOLEDO,515,"9,7",Ip,"7,5",08:56,"11,9",13:46,30.0,"3,3","8,9",14:37,"2,8","944,3",24,"939,4",05

In [5]:
DataApi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4014 entries, 0 to 1459
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   fecha        4014 non-null   object
 1   indicativo   4014 non-null   object
 2   nombre       4014 non-null   object
 3   provincia    4014 non-null   object
 4   altitud      4014 non-null   int64
 5   tmed         4011 non-null   object
 6   prec         4007 non-null   object
 7   tmin         4011 non-null   object
 8   horatmin     4011 non-null   object
 9   tmax         4011 non-null   object
 10  horatmax     4011 non-null   object
 11  dir          3984 non-null   float64
 12  velmedia     3987 non-null   object
 13  racha        3984 non-null   object
 14  horaracha    3984 non-null   object
 15  sol          3955 non-null   object
 16  presMax      3987 non-null   object
 17  horaPresMax  3987 non-null   object
 18  presMin      3987 non-null   object
 19  horaPresMin  3986 non-null   object
dtypes: float64(1), int64(1), object(18)
memory usage: 658.5+ KB

### Cleaning the DataSet

For our analysis we are going to use Time-series so we need the index to be the date. For that we are going to use the function Index_date which is defined in Cleaning_f in src.

In [6]:
DA_index = fc.Index_date(DataApi,"fecha")

In [7]:
DA_index.head()

,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin
fecha,,,,,,,,,,,,,,,,,,,
2010-01-01,3260B,TOLEDO,TOLEDO,515,"7,7","0,0","4,8",06:51,"10,6",14:36,28.0,"7,5","21,4",13:19,"4,0","956,8",23,"947,1",00
2010-01-02,3260B,TOLEDO,TOLEDO,515,"7,2","0,0","3,9",Varias,"10,6",13:15,29.0,"1,9","4,7",00:28,"1,2","961,0",11,"956,7",00
2010-01-03,3260B,TOLEDO,TOLEDO,515,"5,4","6,6","2,1",05:16,"8,7",12:39,13.0,"0,8","6,4",15:29,"2,4","959,0",02,"953,8",24
2010-01-04,3260B,TOLEDO,TOLEDO,515,"9,9","4,9","7,4",Varias,"12,4",16:14,19.0,"2,8","6,9",15:42,"0,3","953,8",00,"940,4",24
2010-01-05,3260B,TOLEDO,TOLEDO,515,"9,7",Ip,"7,5",08:56,"11,9",13:46,30.0,"3,3","8,9",14:37,"2,8","944,3",24,"939,4",05

In [8]:
DA_index.shape

(4014, 19)

To continue with the cleaning, we are going to drop the non-numeric columns and the Unnammed column, since we are going to use the date as an index.

But before doing that, we need to check if there is any other value in this columns.

In [9]:
DataApi.indicativo.unique()

array(['3260B'], dtype=object)

In [10]:
DataApi.nombre.unique()

array(['TOLEDO'], dtype=object)

In [11]:
DataApi.provincia.unique()

array(['TOLEDO'], dtype=object)

In [12]:
DataApi.altitud.unique()

array([515])

We store these values in a dictionary to avoid losing them.

In [13]:
Data_toledo = {"estacion":"3260B","provincia":"toledo","altitud":515}
Data_toledo

{'estacion': '3260B', 'provincia': 'toledo', 'altitud': 515}

We drop the columns using drop_columns, another function defined in Cleaning_f.

In [14]:
DA_index.keys()

Index(['indicativo', 'nombre', 'provincia', 'altitud', 'tmed', 'prec', 'tmin',
       'horatmin', 'tmax', 'horatmax', 'dir', 'velmedia', 'racha', 'horaracha',
       'sol', 'presMax', 'horaPresMax', 'presMin', 'horaPresMin'],
      dtype='object')

In [15]:
colums = ['indicativo', 'nombre', 'provincia', 'altitud']

In [16]:
DA_numeric = fc.drop_colums(DA_index,colums)

In [17]:
DA_numeric.head()

,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin
fecha,,,,,,,,,,,,,,,
2010-01-01,"7,7","0,0","4,8",06:51,"10,6",14:36,28.0,"7,5","21,4",13:19,"4,0","956,8",23,"947,1",00
2010-01-02,"7,2","0,0","3,9",Varias,"10,6",13:15,29.0,"1,9","4,7",00:28,"1,2","961,0",11,"956,7",00
2010-01-03,"5,4","6,6","2,1",05:16,"8,7",12:39,13.0,"0,8","6,4",15:29,"2,4","959,0",02,"953,8",24
2010-01-04,"9,9","4,9","7,4",Varias,"12,4",16:14,19.0,"2,8","6,9",15:42,"0,3","953,8",00,"940,4",24
2010-01-05,"9,7",Ip,"7,5",08:56,"11,9",13:46,30.0,"3,3","8,9",14:37,"2,8","944,3",24,"939,4",05

In [18]:
DA_numeric.shape

(4014, 15)

We can also drop the columns "horatmin", "horatmax", "horaracha", "horaPresMax" and "horaPresMin" because we are working with daily frequency so hours are no longer useful.

In [19]:
col = ['horatmin', 'horatmax', 'horaracha', 'horaPresMax', 'horaPresMin']

In [20]:
DA_col = fc.drop_colums(DA_numeric,col)

In [21]:
DA_col.shape

(4014, 10)

Once we have only the numeric values, we are going to clean all the NaN in rows.

In [22]:
DA_col.isna().sum()

tmed         3
prec         7
tmin         3
tmax         3
dir         30
velmedia    27
racha       30
sol         59
presMax     27
presMin     27
dtype: int64

To find the nan values in the rows, we can use the function get_nans created in the Cleaning_f document.

First we are gona find the nans in tmed, tmin and tmax to see if they are in the same rows or if we can use the mean between tmin and tmax to fill the NaNs in tmed.

In [23]:
tmed_nans = fc.get_nans(DA_col,"tmed")
tmed_nans

fecha
2019-09-21    NaN
2019-09-22    NaN
2019-10-01    NaN
Name: tmed, dtype: object

In [24]:
tmin_nans = fc.get_nans(DA_col,"tmin")
tmin_nans

fecha
2019-09-21    NaN
2019-09-22    NaN
2019-10-01    NaN
Name: tmin, dtype: object

In [25]:
tmax_nans = fc.get_nans(DA_col,"tmax")
tmax_nans

fecha
2019-09-21    NaN
2019-09-22    NaN
2019-10-01    NaN
Name: tmax, dtype: object

As we have seen that the NaN of 'tmed', 'tmin' and 'tmax' are in the same days, let's try to obtain an approximate value. For this we will use another function (fill_nans) from the Cleaning_f file.

In [26]:
DA_Cl = fc.fill_nans(DA_col)

In [27]:
DA_Cl.isna().sum()

tmed        0
prec        0
tmin        0
tmax        0
dir         0
velmedia    0
racha       0
sol         0
presMax     0
presMin     0
dtype: int64

In [28]:
DA_Cl.head()

           tmed prec tmin  tmax   dir velmedia racha  sol presMax presMin
fecha
2010-01-01  7,7  0,0  4,8  10,6  28.0      7,5  21,4  4,0   956,8   947,1
2010-01-02  7,2  0,0  3,9  10,6  29.0      1,9   4,7  1,2   961,0   956,7
2010-01-03  5,4  6,6  2,1   8,7  13.0      0,8   6,4  2,4   959,0   953,8
2010-01-04  9,9  4,9  7,4  12,4  19.0      2,8   6,9  0,3   953,8   940,4
2010-01-05  9,7   Ip  7,5  11,9  30.0      3,3   8,9  2,8   944,3   939,4
2010-01-06  6,6  3,5  4,8   8,3  30.0      3,1   9,4  1,4   947,3   942,7

Finally, we want python to understand the data as numbers instead of strings so that we can work with them in the analysis. To do this we use the function to_num, defined in the Cleaning_f file.

#### tmed

In [29]:
new_tmed = fc.to_num(DA_Cl.tmed)
DA_Cl.tmed = new_tmed

#### prec

In this case, there was a data that was not a Nan but can´t be replaced by a number. We will manually fill that gap with the mean of the data above and below by using the get_mean function also defined in the Cleaning_f file.

In [30]:
drp = DA_Cl.drop(labels='2010-01-05', axis=0, inplace=False, errors='raise')

In [31]:
val = fc.saca_medias(drp.prec,'2010-01-04','2010-01-06')
val

4.2

In [32]:
DA_Cl['prec'] = DA_Cl['prec'].str.replace('Ip','4.2')
new_prec = fc.to_num(DA_Cl.prec)
DA_Cl.prec = new_prec

#### tmin

In [33]:
new_tmin = fc.to_num(DA_Cl.tmin)
DA_Cl.tmin = new_tmin

#### tmax

In [34]:
new_tmax = fc.to_num(DA_Cl.tmax)
DA_Cl.tmax = new_tmax

#### dir

In [35]:
new_dir = fc.to_num(DA_Cl.dir)
DA_Cl.dir = new_dir

#### velmedia

In [36]:
new_velmedia = fc.to_num(DA_Cl.velmedia)
DA_Cl.velmedia = new_velmedia

#### racha

In [37]:
new_racha = fc.to_num(DA_Cl.racha)
DA_Cl.racha = new_racha

#### sol

In [38]:
new_sol = fc.to_num(DA_Cl.sol)
DA_Cl.sol = new_sol

#### presMin

In [39]:
new_presMin = fc.to_num(DA_Cl.presMin)
DA_Cl.presMin = new_presMin

#### presMax

In [40]:
new_presMax = fc.to_num(DA_Cl.presMax)
DA_Cl.presMax = new_presMax

In [41]:
DA_Cl.head()

,tmed,prec,tmin,tmax,dir,velmedia,racha,sol,presMax,presMin
fecha,,,,,,,,,,
2010-01-01,7.7,0.0,4.8,10.6,28.0,7.5,21.4,4.0,956.8,947.1
2010-01-02,7.2,0.0,3.9,10.6,29.0,1.9,4.7,1.2,961.0,956.7
2010-01-03,5.4,6.6,2.1,8.7,13.0,0.8,6.4,2.4,959.0,953.8
2010-01-04,9.9,4.9,7.4,12.4,19.0,2.8,6.9,0.3,953.8,940.4
2010-01-05,9.7,4.2,7.5,11.9,30.0,3.3,8.9,2.8,944.3,939.4

In [42]:
DA_Cl.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4014 entries, 2010-01-01 to 2020-12-31
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tmed      4014 non-null   float64
 1   prec      4014 non-null   float64
 2   tmin      4014 non-null   float64
 3   tmax      4014 non-null   float64
 4   dir       4014 non-null   float64
 5   velmedia  4014 non-null   float64
 6   racha     4014 non-null   float64
 7   sol       4014 non-null   float64
 8   presMax   4014 non-null   float64
 9   presMin   4014 non-null   float64
dtypes: float64(10)
memory usage: 474.0+ KB

In [43]:
DA_Cl.to_csv('data/DA_Cl.csv')

# AQUI ESTA TODO YA, FALTARIA RETOCAR FILLNA y METER ARBOLES

# REVISAR MÁS ADELANTE

In [ ]:
dir_nans = fc.get_nans(DA_col,"dir")
dir_nans

In [ ]:
DA_snan = DA_col.dir.interpolate(method='linear')

In [ ]:
DA_snan.isna().sum()

In [ ]:
DA_sinan = DA_col.velmedia.interpolate(method='linear')
DA_sinan.isna().sum()

In [ ]:
DA_snan.loc['2017-11-09':'2017-12-16 ']

In [ ]:
DataCl = DataApi.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

In [ ]:
prueba.isna().sum()

In [ ]:
DataCl.shape

In [ ]:
DataCl.head()

In [ ]:
DataCl.to_csv('data/DataCl.csv')

In [ ]:
dfilt_1 = '2019-09-16'
dfilt_2 = '2019-09-26'

In [ ]:
dfilt_3 = '2019-09-17'
dfilt_4 = '2019-09-27'

In [ ]:
dfilt_5 = '2019-09-26'
dfilt_6 = '2019-10-06'

For the 3 NaNs in 'tmed':

In [ ]:
med1 = DA_col['tmed']

In [ ]:
Nan_tmed_1 = fc.saca_medias(med1,dfilt_1,dfilt_2)
Nan_tmed_1

In [ ]:
Nan_tmed_2 = fc.saca_medias(med1,dfilt_3,dfilt_4)
Nan_tmed_2

In [ ]:
Nan_tmed_3 = fc.saca_medias(med1,dfilt_5,dfilt_6)
Nan_tmed_3

For the 3 NaNs in 'tmin':

In [ ]:
min1 = DA_col['tmin']

In [ ]:
Nan_tmin_1 = fc.saca_medias(min1,dfilt_1,dfilt_2)
Nan_tmin_1

In [ ]:
Nan_tmin_2 = fc.saca_medias(min1,dfilt_3,dfilt_4)
Nan_tmin_2

In [ ]:
Nan_tmin_3 = fc.saca_medias(min1,dfilt_5,dfilt_6)
Nan_tmin_3

For the 3 NaNs in 'tmax':

In [ ]:
max1 = DA_col['tmax']

In [ ]:
Nan_tmax_1 = fc.saca_medias(max1,dfilt_1,dfilt_2)
Nan_tmax_1

In [ ]:
Nan_tmax_2 = fc.saca_medias(max1,dfilt_3,dfilt_4)
Nan_tmax_2

In [ ]:
Nan_tmax_3 = fc.saca_medias(max1,dfilt_5,dfilt_6)
Nan_tmax_3

In [ ]:
DA_col

In [ ]:
DA_col.tmed.loc["2019-09-21"].fillna(value=Nan_tmed_1, inplace=True)

In [ ]:
DA_col["tmed"].loc["2019-09-21"].fillna(value=Nan_tmed_1, inplace=True)

In [ ]:
def saca_medias(column,dia1,dia2):
    col = column.loc[dia1 : dia2]
    sin_nan = col.dropna(axis=0, how='any', inplace=False)
    puntos = pd.to_numeric([x.replace(',','.') for x in sin_nan])
    return (puntos.mean())

def replace_nan0(columna,dia,valor):
    a = columna.get_loc(dia)
    columna.iloc[a].fillna(value=valor, inplace=True)

In [ ]:
dayy = '2019-09-21'
x = saca_medias(DA_col.tmed,dayy-5,dayy+5)

In [ ]:
def replace_nan(column):
        for x in column:
            if x is None:
                x = saca_medias(column,x-5,x+5)
            else:
                x = x
        return(column.fillna(x))

In [ ]:
colll = DA_col["tmed"]
dayy = "2019-09-21"
vaal = Nan_tmed_1
abb = replace_nan(colll)

In [ ]:
abb.loc['2019-09-01':'2019-10-16']

In [ ]:
def replace_nanoo(column):
        for a in column:
            if a is None:
                a = saca_medias(column,a,a)
        return(a)

In [ ]:
bb = replace_nanoo(colll)
bb

In [ ]:
column = DA_col['tmed']
dia1 = '2019-09-01'
dia2 = '2019-09-30'

# ACTUALMENTE

In [ ]:
col = column.loc[dia1 : dia2]
col

In [ ]:
sin_nan = col.dropna(axis=0, how='any', inplace=False)
sin_nan

In [ ]:
puntos = pd.to_numeric([x.replace(',','.') for x in sin_nan])

In [ ]:
puntos.mean()

In [ ]:
DA_col.apply(pd.to_numeric)

In [ ]:
arr = DA_col.loc["2019-09-01":"2019-09-30", ['tmed', 'tmax', 'tmin']]
arr.shape

In [ ]:
arr_1 = arr.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
arr_1.shape

In [ ]:
puntos = pd.to_numeric([x.replace(',','.') for x in arr_1['tmed']])
puntos

In [ ]:
puntos.mean()

In [ ]:
nan_rows

In [ ]:
def replace_nans(df,key):
    df_use = df[key]
    for i in df_use:
        df_use.fillna()